<!doctype html>
<html lang="en">
    <head>
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}Mixture Tips{% endblock %}</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <meta name="viewport" content="width=840" /> 
        <script type="text/javascript" src="//use.typekit.net/axw6ukn.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        {{ "app.css" | asset_url | stylesheet_tag }}
    </head>
    <body class="{% block class %}{% endblock %}">
        <div class="wrapper">
            <h1><a href="/">Mixture Tips</a>.</h1>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>