@charset "UTF-8";

/*
  Setup
 */
@import "settings";
@import "partials/mixins";
@import "partials/normalize";
@import "partials/reset";
@import "partials/clearfix";

img{
  max-width:100%;
}

html{
  font-family: "omnes-pro",sans-serif;
  font-size:100%;
  font-weight:normal;
  line-height:$line-height-ratio;
  color:#fff;
}

body{
  background-color:#666;
}

body.one{
  background-color:#62C392;
}

body.two{
  background-color:#58A2D8;
}

body.three{
  background-color:#FEABAA;
}

.wrapper{
  max-width:50em;
  margin:0 auto;
  padding:1em;
  padding-bottom:5em;
}

h1{
  @include font-size(40px);
  font-weight:400;
}

h2{
  @include font-size(30px);
  font-weight:400;
  margin-top:1em;
}

p{
  @include font-size(18px);
  font-weight:400;
  margin-top:1em;
  line-height:1.4em;
}

p em{
  font-weight:100;
  color:rgba(255,255,255,.7);
}

pre{
  margin-top:1em;
  background-color:#fff;
  background-color:rgba(255,255,255,.8);
  @include vendor(border-radius, 5px);
  -webkit-font-smoothing: subpixel-antialiased;
  padding:1em;
  overflow: none;
  -webkit-overflow-scrolling: touch;
  color:#666;
}

code {
  font-family: inconsolata, sans-serif;
}

a{
  color:#fff;
  text-decoration: none;
  border-bottom:1px solid #fff;
  line-height: 1.1em;
  display:inline-block;
}

a:hover{
  text-decoration: none;
  border-bottom:none;
}

ol{
  margin-top:1em;
}

ol li{
  margin-top:1em;
  @include font-size(20px);
  font-weight:400;
}