{% block content %}
	<p>A series of quick tips, showcasing features within <a href="http://mixture.io">Mixture</a> and the various technology Mixture utilises. Follow @<a href="http://twitter.com/teammixture">TeamMixture</a> for updates.</p>
	<ol>
		<li><a href="/clever-includes">Clever Includes with Liquid</a></li>
		<li><a href="/magic-assets">Magic Assets</a></li>
		<li><a href="/pre-min-con">Preprocessing, Minification &amp; Concatenation</a></li>
	</ol>
{% endblock %}